<div class="animated fadeIn fast">

    <!-- banner -->
    <div class="cont-banner">
        <div class="cont-img">
            <img src="assets/imgs/banner_deportivo.jpg" alt="">
        </div>
    </div>

    <div class="container top-25">
        <div class="row">
            <!-- MISION -->
            <div class="col-md-6 mb-3">
                <mat-card>
                    <div class="cont-caracteristica">
                        <div class="cont-texto">
                            <h4>
                                <strong>
                                    {{'home.mision_title' | translate}}
                                </strong>
                            </h4>
                            <p align="justify">
                                {{'home.mision' | translate}}
                            </p>
                        </div>
                    </div>
                </mat-card>
            </div>

            <!-- VISION -->

            <div class="col-md-6">
                <mat-card>
                    <div class="cont-caracteristica">
                        <div class="cont-texto">
                            <h4> <strong>{{'home.vision_title' | translate}}</strong> </h4>
                            <p align="justify">
                                {{'home.vision' | translate}}
                            </p>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>